:root {
  /* TyoDev Color System */
  /* Background Colors */
  --background: oklch(0.9842 0.0034 247.86);
  --surface: oklch(1 0 0);
  --surface-muted: oklch(0.9683 0.0069 247.9);
  /* Text */
  --foreground: oklch(0.2077 0.0398 265.75);
  --muted: oklch(0.5544 0.0407 257.42);
  /* Borders */
  --border: oklch(0.9288 0.0126 255.51);
  --border-strong: oklch(0.8742 0.0402 269.95);
  /* Colors */
  --color-primary-50: oklch(0.97 0.01 263);
  --color-primary-100: oklch(0.93 0.04 263);
  --color-primary-200: oklch(0.84 0.08 263);
  --color-primary-300: oklch(0.75 0.12 263);
  --color-primary-400: oklch(0.64 0.17 263);
  /* Default Primary Color */
  --color-primary-500: oklch(54.95% 0.22032 263.107);
  --color-primary-600: oklch(0.48 0.19 263);
  --color-primary-700: oklch(0.41 0.16 263);
  --color-primary-800: oklch(0.36 0.14 263);
  --color-primary-900: oklch(0.27 0.11 263);
  --color-primary-950: oklch(0.19 0.08 263);
  /* Primary Active States */
  --color-primary-hover: oklch(0.4882 0.2172 264.38);
  --color-primary-soft: oklch(0.9319 0.0316 255.59);
  /* States */
  /* Success */
  --success: oklch(0.6271 0.1699 149.21);
  --success-soft: oklch(0.9624 0.0434 156.74);
  /* Error */
  --error: oklch(0.5771 0.2152 27.33);
  --error-soft: oklch(0.9356 0.0309 17.72);
  /* Warning */
  --warning: oklch(0.6658 0.1574 58.32);
  --warning-soft: oklch(0.9619 0.058 95.62);
  /* Information */
  --info: oklch(0.5876 0.1389 241.97);
  --info-soft: oklch(0.9514 0.025 236.82);
}
@theme {
  --background: oklch(0.9842 0.0034 247.86);
  --surface: oklch(1 0 0);
  --surface-muted: oklch(0.9683 0.0069 247.9);
  /* Text */
  --foreground: oklch(0.2077 0.0398 265.75);
  --muted: oklch(0.5544 0.0407 257.42);
  /* Borders */
  --border: oklch(0.9288 0.0126 255.51);
  --border-strong: oklch(0.8742 0.0402 269.95);
  /* Colors */
  --color-primary-50: oklch(0.97 0.01 263);
  --color-primary-100: oklch(0.93 0.04 263);
  --color-primary-200: oklch(0.84 0.08 263);
  --color-primary-300: oklch(0.75 0.12 263);
  --color-primary-400: oklch(0.64 0.17 263);
  /* Default Primary Color */
  --color-primary-500: oklch(54.95% 0.22032 263.107);
  --color-primary-600: oklch(0.48 0.19 263);
  --color-primary-700: oklch(0.41 0.16 263);
  --color-primary-800: oklch(0.36 0.14 263);
  --color-primary-900: oklch(0.27 0.11 263);
  --color-primary-950: oklch(0.19 0.08 263);
  /* Primary Active States */
  --color-primary-hover: oklch(0.4882 0.2172 264.38);
  --color-primary-soft: oklch(0.9319 0.0316 255.59);
  /* States */
  /* Success */
  --success: oklch(0.6271 0.1699 149.21);
  --success-soft: oklch(0.9624 0.0434 156.74);
  /* Error */
  --error: oklch(0.5771 0.2152 27.33);
  --error-soft: oklch(0.9356 0.0309 17.72);
  /* Warning */
  --warning: oklch(0.6658 0.1574 58.32);
  --warning-soft: oklch(0.9619 0.058 95.62);
  /* Information */
  --info: oklch(0.5876 0.1389 241.97);
  --info-soft: oklch(0.9514 0.025 236.82);
}
